.project-title {
    font-weight: 700;
    text-align: center;
    padding: 5px;
}
.project-sub-title {
    font-weight: 600;
}
.project-container {
  padding: 10px;
  border: 2px rgb(97, 95, 95) solid;
  border-radius: 20px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  height:350px;
  position: relative;
  
}
